*
!*.yaml
!*.sh
!*.py
!.gitignore
!.travis.yml
!sensors
!influxdb
!bin
!shell_command
!switch
!script
!input_boolean
!input_number
!themes
!custom_components
!www
!www/**
secrets.yaml
known_devices.yaml
